@import "../base/variables.scss";

* {
	font-family: Work Sans;
	overflow-y: auto;
}

.sidebar {
	width: 100%;
	height: 100vh;
	background: $white;
	// overflow: auto;
	box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.04);
	::-webkit-scrollbar {
		display: none;
	}

	@include respond-to(sm) {
	}

	.sidebar-inner {
		display: flex;
		width: 100%;
		height: fit-content;
		padding: 140px 0px 50px 0px;
		// overflow-y: scroll;
		display: flex;
		flex-direction: column;

		@include respond-to(sm) {
			padding: 100px 0px 50px 0px;
		}
		@include respond-to(md) {
			padding: 100px 0px 50px 0px;
		}

		.sidebar-nav {
			display: flex;
			flex-direction: column;
			height: fit-content;
			width: 100%;
			padding-bottom: 20px;

			// overflow: scroll;

			.top-nav {
				padding-left: 30px;
				display: flex;
				flex-direction: column;
				gap: 20px;

				@include respond-to(sm) {
					padding-bottom: 20px;
					padding-left: 25px;
					border-bottom: 2px solid rgba($tertiary, 0.1);
				}
				.nav-link {
					text-decoration: none;
					display: flex;
					flex-direction: row;
					gap: 10px;
					color: $primary;
					align-items: center;
					font-size: 16px;
					font-weight: 400;
					line-height: normal;
					padding: 10px 0;
					width: fit-content;
					cursor: pointer;

					> p,
					span {
						@include respond-to(sm) {
							display: none;
						}

						@include respond-to(md) {
							font-size: 14px;
						}
					}
				}
			}

			.customers-nav {
				margin-top: 20px;
				display: flex;
				flex-direction: column;
				gap: 10px;

				@include respond-to(sm) {
					padding-bottom: 20px;

					border-bottom: 1px solid rgba($tertiary, 0.1);
				}

				.nav-heading {
					padding-left: 30px;
					font-size: 12px;
					font-style: normal;
					font-weight: 500;
					line-height: normal;
					text-transform: uppercase;
					color: $tertiary;

					@include respond-to(sm) {
						display: none;
					}
				}

				.customers-nav-items-container {
					display: flex;
					flex-direction: column;
					gap: 10px;
				}
			}

			.sidebar-end {
				margin-top: 60px;
				border-top: 1px solid rgba($primary, 0.1);

				.logout-btn {
					width: 100%;
					height: 48px;
					padding: 50px 30px;
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 10px;
					text-decoration: none;
					color: $primary;
					font-family: Work Sans;
					border: none;
					font-size: 16px;
					background: transparent;
					overflow: hidden;

					@include respond-to(sm) {
						padding: 0px 0px;
						margin-left: 25px;
					}

					> p,
					span {
						@include respond-to(sm) {
							display: none;
						}
					}
				}
				.version {
					margin-top: 10px;
					padding-left: 30px;
					font-size: 12px;
					color: $primary;

					@include respond-to(sm) {
						font-size: 10px;
						padding-left: 15px;
					}
				}
			}
		}
	}
}
