@import "../base/variables.scss";
.input {
	border-radius: 5px;
	border: 2px solid rgba(84, 95, 125, 0.15);
	width: 100%;
	background: #fff;
	height: 50px;
	flex-shrink: 0;
	padding: 10px;
	color: $tertiary;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	font-family: "Avenir Next";
}
.input::placeholder {
	color: $tertiary;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	opacity: 0.6;
	// font-family: "Avenir Next";
}

.input:focus {
	outline: none;
}
