@import "../base/variables.scss";

.password-field {
	display: flex;
	border: 2px solid rgba(84, 95, 125, 0.15);
	width: 100%;
	border-radius: 5px;
	position: relative;

	.input {
		border: none;
		background: #fff;
		height: 50px;
		flex-shrink: 0;
		padding: 10px;
		color: $tertiary;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		font-family: "Avenir Next";
	}
	.input::placeholder {
		color: $tertiary;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		opacity: 0.6;
	}

	.input:focus {
		outline: none;
	}

	button {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 10px;
		color: $secondary;
		background: transparent;
		border: none;
		font-size: 12px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: 1.2px;
		text-transform: uppercase;
		text-align: center;
		flex-shrink: 0;
	}
}
