@import "../base/variables.scss";

#table {
	width: 100%;
}

.table-wrapper {
	width: 100%;
	border-radius: 4px;
	border: 1px solid rgba(33, 63, 125, 0.06);
	background: #fff;
	box-shadow: 3px 5px 20px 0px rgba(0, 0, 0, 0.04);
}

.table {
	width: 95%;
	border-collapse: collapse;
	margin: 20px auto;
	font-size: 14px;
	text-align: left;

	.t-head {
		width: 100%;
	}

	th,
	td {
		padding: 12px 0px;
	}

	th {
		.table-header {
			display: flex;
			align-items: center;
			gap: 10px;

			> h3 {
				font-size: 12px;
				text-transform: uppercase;
				font-style: normal;
				font-weight: 600;
				line-height: normal;
				text-transform: uppercase;
				color: $tertiary;
			}
		}

		.filter-icon {
			cursor: pointer;
			margin-left: 10px;
			color: #007bff;
		}
	}

	tbody {
		.table-rows {
			position: relative;
		}
		> tr {
			height: 60px;
			border-bottom: 1px solid rgba(33, 63, 125, 0.1);

			.user-email {
				text-transform: lowercase;
			}

			td {
				color: $tertiary;

				.dropdown-toggle {
					background: none;
					border: none;
					padding: 0;
					color: #007bff;
					cursor: pointer;
				}
			}

			.status-pill {
				text-align: left;
				align-items: flex-start;
				border-radius: 100px;
				opacity: 0.1;
				background: #e9b200;
				padding: 7px 10px;
			}
		}

		tr:last-child {
			border: none;
		}
	}
}

.table-end {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: end;
	justify-content: space-between;
	padding: 20px 0;

	.showing {
		> p {
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			color: $tertiary;
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 10px;

			> button {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 15px;
				padding: 7px 12px;
				border: none;
				border-radius: 4px;
				background: rgba(33, 63, 125, 0.1);
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				color: $primary;
			}
		}
	}
}

.pagination {
	display: flex;
	gap: 20px;
	list-style-type: none;
	padding: 0;

	li {
		margin: 0 5px;
		cursor: pointer;
		color: rgba($tertiary, 0.6);
		font-size: 16px;
		font-weight: 400;

		&.active {
			font-weight: 500;
			color: rgba($tertiary, 1);
			font-weight: 400;
		}
	}
}
.previous,
.next {
	svg {
		color: rgba($primary, 0.6);

		transition: color 0.3s;
	}

	&:active svg {
		color: rgba($primary, 1);
	}
}
