@import "../base/variables.scss";

.login {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;

	.login-body1 {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 50%;
		height: 100%;
		background: $white;
		color: $white;
		// padding: 100px 0px;
		// border: 1px solid #000;

		.inner {
			display: flex;
			align-items: center;
			gap: 150px;
			position: relative;
			height: 100%;

			.img-box1 {
				position: absolute;
				top: 10%;
				left: 10%;
			}

			.img-container {
				display: flex;
				flex-direction: column;

				.img-box2 {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 100%;
				}
			}
		}
	}
	.login-body2 {
		width: 50%;
		height: 100%;
		background: #000;
		padding: 100px 100px;
		background: $white;
		box-shadow: 0px 15px 90px 0px rgba(0, 0, 0, 0.03);

		.inner {
			// border: 1px solid black;
			height: 100%;
			display: flex;
			align-items: center;
			// padding: 50px;

			form {
				width: 90%;
				// border: 1px solid red;
				display: flex;
				flex-direction: column;
				gap: 5px;

				h1 {
					color: $primary;
					font-size: 40px;
					font-style: normal;
					font-weight: 700;
					line-height: normal;
					letter-spacing: -1.6px;
				}
				p {
					color: $tertiary;
					font-size: 20px;
					font-style: normal;
					font-weight: 400;
					line-height: normal;
				}

				.form-container {
					display: flex;
					flex-direction: column;
					gap: 24px;
					margin-top: 55px;

					.form-field {
						display: flex;
						flex-direction: column;
						gap: 24px;
					}

					.forgot {
						.forgot-link {
							color: $secondary;
							text-decoration: none;
							font-size: 12px;
							font-style: normal;
							font-weight: 600;
							line-height: normal;
							letter-spacing: 1.2px;
							text-transform: uppercase;
							text-align: center;
							flex-shrink: 0;
						}
					}

					.login-button {
						margin-top: 6px;
					}
				}
			}
		}
	}
}

@media (max-width: 1024px) {
	.login {
		.login-body1 {
			display: none;
		}
	}
}
