@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

$primary: #213f7d;
$secondary: #39cdcc;
$tertiary: #545f7d;
$white: #ffffff;
$error: #e4033b;
$success: #39cdcc;

.font-avenir {
	font-family: "Avenir Next";
}

.font-work {
	font-family: "Work Sans";
}
