@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

$primary: #213f7d;
$secondary: #39cdcc;
$tertiary: #545f7d;
$white: #ffffff;
$error: #e4033b;
$success: #39cdcc;

$breakpoints: (
	xs: 575.98px,
	sm: 767.98px,
	md: 991.98px,
	lg: 1199.98px,
	xl: 10000px,
);

// Mixin for media queries
@mixin respond-to($breakpoint) {
	@if map-has-key($breakpoints, $breakpoint) {
		$value: map-get($breakpoints, $breakpoint);

		@if $breakpoint == xl {
			@media (min-width: $value) {
				@content;
			}
		} @else {
			@media (max-width: $value) {
				@content;
			}
		}
	} @else {
		@error "Unknown breakpoint #{$breakpoint}.";
	}
}

.font-avenir {
	font-family: "Avenir Next";
}

.font-work {
	font-family: "Work Sans";
}
